// ***
// Mixins
// ***

// Colors
$black: #2f2f2f;
$blacker: #232323;
$matblack: #424242;
$blackOP70: rgba(47, 47, 47, 0.7);
$white: white;
$blue: rgb(24, 215, 221);
$orange: rgb(244, 155, 66);
$white500: #9e9e9e;

// ***
// Media Breakpoints
// ***

// !!! Note that these are based on navigated component !!!
// !!! Refer to comments to see component !!!

// Breakpoints
$S1850: 1850px;
$S1700: 1700px;
$ultrawidescreen: 1600;
$semiwidescreen: 1400px;
$widescreen: 1199px;
$desktop: 991px;
$S890: 890px;
$tablet: 767px;
$S615: 615px;
$phone: 480px;
$S430: 430px;
$smallphone: 320px;

// ***
// Global
// ***

html {
  font-family: "Maven Pro", sans-serif;
  background-color: $blacker;

  // Temporary Color
  color: $white;
}

div {
  display: flex;
  transition: 0.15s;
  animation: fadein 0.75s forwards;
}

body {
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_container {
  width: 100%;
  height: 100vh;
}

.hide_nav {
  visibility: hidden;
}

button {
  border: none;
  border-radius: 2px;
  width: 10rem;
  margin-top: 1rem;
  padding: 0.5rem;
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: $orange;
  box-shadow: 0 0 4px #999;
  outline: none;
}

// !!! Breakpoints are handled in breakpoints.less $ bottom of page !!!

// ***
// Keyframe Animations
// ***

@keyframes navigation_smol {
  0% {
    display: none;
    opacity: 0;
    padding: 0;
    visibility: none;
  }

  100% {
    visibility: visible;
    opacity: 1;
    padding: 1rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ***
// Scrollbar
// ***

// Chrome / IE / Other

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 28px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// Firefox
// !! Not Currently Working !!

::-moz-scrollbar {
  width: 2px;
  height: 2px;
}
::-moz-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-moz-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 28px;
}
::-moz-scrollbar-thumb:hover {
  background: #ffffff;
}
::-moz-scrollbar-thumb:active {
  background: #000000;
}
::-moz-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-moz-scrollbar-track:hover {
  background: #666666;
}
::-moz-scrollbar-track:active {
  background: #333333;
}
::-moz-scrollbar-corner {
  background: transparent;
}

// ***
// Navigation
// ***

.navigation {
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding-top: 1rem;
  height: 2.5rem;
  align-content: center;
  transition: 0.5s;
  z-index: 1;

  // Text Color
  color: $white;

  .nav_head {
    justify-content: space-around;
    padding-left: 1rem;
  }

  .nav_items {
    width: 20rem;
    justify-content: space-around;
  }

  // Navigation Font Size
  p {
    font-size: 1.5rem;
    transition: 0.15s;

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

.scrolled {
  position: fixed;
  background-color: $blackOP70;
}

// ***
// Jumbo
// ***

.jumbo {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $black;
  opacity: 1;

  // Text Color
  color: $white;

  // Background Image
  background-image: url(../assets/bkgtest2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 3%;
  }
}

.jumbo_nav {
  width: 50%;
  justify-content: space-around;
  margin-top: 3%;
  padding-top: 1%;
  border-top: 3px solid $white;
  border-radius: 10rem;

  p {
    font-size: 1.5rem;
    transition: 0.15s;

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

// ***
// Smol Nav
// ***

.smol_nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: center;
  padding: 1rem;
  width: 3.5rem;

  background-color: $blackOP70;

  height: 60%;
  transition: 0.15s;
  border-radius: 0 2rem 2rem 0;

  animation: navigation_smol 1s forwards;

  // &:hover {
  //   padding-right: 5rem;
  // }
}

.smol_buttons {
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  transition: 0.15s;
  text-align: center;

  p {
    transition: 0.15s;
    padding: 0.5rem;
    border-radius: 2rem;

    &:hover {
      background-color: $white;
      color: $orange;
      cursor: pointer;
    }
  }
}

.hidden_nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: center;
  padding: 1rem;
  width: 3.5rem;

  height: 60%;
  transition: 0.15s;

  p {
    display: none;
  }

  animation: navigion_smol 1s reverse;
}

// ***
// Projects
// ***

.projects_container {
  width: 100%;
  height: 100%;
  display: grid;
  position: relative;
  overflow: auto !important;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  img {
    width: 100%;
    height: auto;
  }
}

.project_div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;

  img {
    transition: 0.15s;
  }

  &:hover {
    img {
      opacity: 0.2;
    }

    h1,
    h2 {
      visibility: visible;
      margin-bottom: 1rem;
    }

    cursor: pointer;
  }

  h1,
  h2 {
    visibility: hidden;
    transition: 0.15s;
  }

  h1 {
    font-size: 4.5rem;
    padding-bottom: 5rem;
    color: $orange;
  }
  h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
}

.project_text {
  flex-direction: column;
  position: absolute;
  text-align: center;
}

// Project Modal

.modal {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.9);
  transition: 0.15s;
  z-index: 2;
}

.modal_show {
  visibility: visible;
  opacity: 1;
}

.modal_hide {
  visibility: hidden;
  opacity: 0;
}

.modal_row {
  width: 100%;
  justify-content: space-around;

  @media (max-width: $tablet) {
    height: 90%;
  }
}

.modal_col {
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;

  h1 {
    font-size: 7rem;
    margin-bottom: 0;
    color: $orange;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: auto;
    height: 30rem;
    padding-bottom: 2rem;
  }

  .nested {
    width: 70%;
    justify-content: space-around;
  }

  @media (max-width: $semiwidescreen) {
    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      height: 30rem;
    }

    .nested {
      width: 80%;
    }
  }

  @media (max-width: $widescreen) {
    .nested {
      width: 100%;
    }
  }

  @media (max-width: $desktop) {
    .nested a,
    button {
      width: 8rem;
    }
  }

  @media (max-width: $tablet) {
    width: 100%;
    position: fixed;
    align-self: center;
    height: 70%;

    h1 {
      margin: 0;
      font-size: 7rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }

    img {
      display: none;
    }
  }

  @media (max-width: $S615) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.25rem;
    }
  }

  @media (max-width: $phone) {
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    button {
      margin: 0.5rem;
    }
  }
}

.exit_button {
  align-self: flex-end;
  margin-right: 8rem;
  width: 2.5rem;
  z-index: 2;

  @media (max-width: $S1850) {
    margin-right: 6rem;
  }

  @media (max-width: $S1700) {
    margin-right: 5rem;
  }

  @media (max-width: $widescreen) {
    margin-right: 3rem;
  }

  @media (max-width: $desktop) {
    margin-right: 2rem;
    width: 2.5rem;
  }

  @media (max-width: $tablet) {
    margin-top: 3rem;
  }

  @media (max-width: $phone) {
    margin-right: 0.75rem;
  }
}

// ***
// Temporary
// ***

.temporary {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 5rem;
}

.background {
  height: 100%;
  width: 100%;
  // background-image: url(../assets/tempbkgc.png);
  align-items: center;
  justify-content: center;
}

// ***
// Contact
// ***

.contact_section {
  flex-direction: column;
  width: 70%;
  height: 50%;
  justify-content: space-around;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;

    input {
      padding: 0.5rem;
      font-size: 1rem;
      text-align: center;
    }
  }
}

// ***
// About
// ***

.about_container {
  width: 80%;
  height: 90%;
  justify-content: center;
}

.about_text,
.about_img {
  flex-direction: column;
  width: 50%;
  padding: 3rem;
}

.about_text {
  height: 80%;
  align-self: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  h4 {
    align-self: center;
    margin: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    color: $orange;
  }
}

.about_img {
  height: 85%;
  align-self: center;
  align-items: center;
  justify-content: space-around;

  img {
    width: 25rem;
    height: auto;
    border-radius: 100%;
    transition: 0.15s;
  }

  h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }
}

// Video iFrames

.embeded_vids {
  width: 100%;
  justify-content: space-around;

  iframe {
    width: 310px;
    height: 170px;
    margin: 0.5rem;
  }
}

// ***
// Life
// ***

.life {
  flex-direction: column;
}

// ***
// Breakpoints
// ***

// ***
// Side Navigation (smol_nav)
@media (max-width: $widescreen) {
  .smol_nav {
    width: 2.75rem;
    height: 96.4%;
    border-radius: 0;
  }

  .smol_buttons {
    height: 95%;
    align-self: center;
  }
}

// ***
// Landing
@media (max-width: $widescreen) {
  .jumbo {
    h1 {
      font-size: 10rem;
    }
    h2 {
      font-size: 2.5rem;
    }
  }

  .jumbo_nav {
    margin-top: 2rem;
    padding-top: 1rem;
    width: 750px;
    p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: $desktop) {
  .jumbo_nav {
    width: 650px;
  }
}

@media (max-width: $S890) {
  .jumbo {
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}

@media (max-width: $tablet) {
  .jumbo {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 2rem;
      padding-top: 1rem;
    }
  }

  .jumbo_nav {
    width: 550px;
    border-top: none;

    p {
      font-size: 1.5rem;
      border: 3px solid $white;
      padding: 1rem;
      width: 5rem;
      text-align: center;

      &:hover {
        color: $white;
        background-color: $orange;
      }
    }
  }
}

@media (max-width: $S615) {
  .jumbo {
    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  .jumbo_nav {
    flex-wrap: wrap;
    width: 20rem;

    p {
      margin: 0.5rem;
    }
  }
}

@media (max-width: $phone) {
  .jumbo {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: $S430) {
  .jumbo h1 {
    font-size: 4.25rem;
  }
}

// ***
// About
@media (max-width: $S1700) {
  .about_text {
    justify-content: flex-start;
    position: relative;
    overflow: auto;
  }
  .about_img {
    width: 40%;
  }
}

@media (max-width: $ultrawidescreen) {
  .about_container {
    width: 95%;
  }

  .about_img {
    width: 30%;
    img {
      width: 18rem;
    }
  }

  .embeded_vids {
    align-items: center;
    flex-direction: column;

    iframe {
      margin: 1rem;
    }
  }
}

@media (max-width: $desktop) {
  .about_container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .about_img {
    display: none;
  }

  .embeded_vids {
    display: none;
  }

  .about_text {
    height: 100%;
    width: 75%;
    overflow: auto;
    padding: 2rem;

    h4 {
      font-size: 1rem;
    }
  }
}

@media (max-width: $S890) {
  .about_container {
    justify-content: baseline;
  }

  .about_text {
    height: auto;
  }
}

@media (max-width: $tablet) {
  .about_text {
    overflow: auto;

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.1rem;
    }

    h4 {
      font-size: 1rem;
    }
  }
}

@media (max-width: $S615) {
  .about_text {
    padding-left: 4rem;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: $phone) {
  .about_text {
    padding-left: 6rem;
  }
}
